.dino-container{
    position: relative;
    width: 100%;
    height: 64px;
}

.dino-sprite{
    --dinosaur-size: clamp(132px, 20vw, 200px);
    height: var(--dinosaur-size);
    width: var(--dinosaur-size);
    background-image: url(../assets/dino_run_1.svg);
    background-size: contain;
    position: absolute;
    bottom: 0;
    transform: translateY(calc(var(--dinosaur-size) * 0.15));
    animation: dino-run 0.25s steps(1) infinite;
    z-index: 1;
}

.dino-path{
    position: absolute;
    height: 24px;
    width: 100vw;

    background-image: url(../assets/dino_path.png);
    background-repeat: repeat-x;

    bottom: 6px;

    animation: scroll-path 8s linear infinite;
}

@keyframes dino-run {
    0% {
        background-image: url(../assets/dino_run_1.svg);
    }

    50% {
        background-image: url(../assets/dino_run_2.svg);
    }

    100% {
        background-image: url(../assets/dino_run_1.svg);
    }
}


@keyframes scroll-path {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: -2400px;
    }
}